body {
  text-align: center;
}
.itemHolder {
  max-width: 300px;
  margin-bottom: 3px;
  display: grid;
}
.item {
  display: grid;
  padding: 5px;
  grid-template-columns: 40px 40px 40px 40px 40px;

  justify-items: center;
  /* border-radius: 0.3em; */
  /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1); */
}

.button {
  cursor: pointer;
  border-radius: 0.2em;
  width: 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #3369ff;
  border: none;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.button[name="delete"] {
  background-color: #ff3333;
}

.button:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
